.main{
    background:  linear-gradient(90deg, rgba(0,77,111,0.8267682072829132) 0%, rgba(0,0,0,0.6643032212885154) 0%),url('/img/g8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    max-height: 300px;
    padding-top: 6rem;
}

.about-content{
    border: 1px solid white;
    width: 40%;
    margin-left: 10%;
    color: white;
    padding: .5rem;
}


.about-body{
    background-color: white;
    width: 100vw;
    
    display: flex;
}

.img-cont{
    
    padding-top: 4rem;
}

.img-cont .img1{
    width: 150px;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius:10px ;
    
}
.img-cont .img2{
    display: none;
}


.words-cont{
    padding: 1rem;
    padding-top: 4rem;
    color: black;
}

@media only screen and (min-width:660px) {
    .main{
        background:  linear-gradient(90deg, rgba(0,77,111,0.8267682072829132) 0%, rgba(0,0,0,0.6643032212885154) 0%),url('/img/g9.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        max-height: 300px;
    }

    .about-content{
      margin-top: 2rem ;
    }
    .img-cont {
        width: 300px;
        margin-left: 5%;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    .words-cont{
        padding: 3rem;
        padding-top: 4rem;
        color: black;
    }
    .img-cont .img1{
        width: 300px;
        margin-left: 1rem;
        margin-right: 1rem;
    }
  }

  @media only screen and (max-width:650px) {
    .about-body{
        display: grid;

    }
    .img-cont {
        width: 300px;
        margin-left: 5%;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    .words-cont{
        margin-left: 5%;
        padding-top: .5rem;
        color: black;
    }
}