.index-body{
    padding-top: 7rem;
}
body{
    background:  linear-gradient(90deg, rgba(0,77,111,0.8267682072829132) 0%, rgba(0,0,0,0.6643032212885154) 0%),url('/img/g6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 150vh;
    max-height: 1000px;
   }
.home_container{
    width: 100vw;
    height: 80vh;
    max-width: 100%;
    max-height: 100%;
    min-height:300px ;    
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 1.5rem;
}
.home_flex_n{
    background:transparent;
    color: white;
    font-size: 1.5rem;
    border: none;
    margin-top: 1rem;
}
.flext_card_title{
    font-size: 2rem;
    color: var(--theme-color);
}
.flex_home_button{
    background:transparent;
    color: white;
    padding: .6rem;
    border-radius: 10px;
    border:1px solid var(--theme-color);
    text-decoration: none;
    transition: 0.2s ease-in-out;
}
.flex_home_button:hover{
    color: white;
    background-color:var(--theme-color);
    color:white;
    border: 1px solid var(--theme-color);
}