@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");
@import 'home.css';
@import 'recipe.css';
@import 'about.css';
@import 'contact.css';
@import 'view.css';
:root{
    --color:rgb(42, 199, 147);
    --bg:rgb(24, 24, 24);
    --theme-color:#00aaff;
    --theme-color2:#09647a;
    font-size: 18px;


}

#logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainlogo{
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
   
}
*{
    font-family:"Nunito";
}
body{
 
 background-size: 50%;
 overflow-x:hidden ;
}
.nav_bar_e{
    width: 40vw;
    font-size: 1.2rem;
}
.navbar{
    position:absolute;
    width: 100vw;
    padding: 1rem;
    background:transparent;
}
.navo{
    width: 100vw;
}
#nav_list a{
      text-decoration: none;
      color: rgb(255, 255, 255);
}
ion-icon{
    color:var(--theme-color);
}
.footer{
    width: 100%;
    max-width: 100%;
    padding-bottom: 1rem;
    background-color:rgb(15, 15, 15) ;
    padding-top: 1.6rem;
}
.in{
    max-width: 100%;
}

.logof ion-icon{
  font-size: 300%;
}
#item{color: white;}

.icons{
    width: 40%;
    margin: auto;
    height: 10vh;
    color: white;
    align-items: center;
    margin-top: .5rem;
    border-bottom: solid 1px white;
}
.icons ion-icon{
    font-size: 1.3rem;
    color:white;
}
.space{
    height: 10vh;
}

.flex-item{
   text-decoration: none;
}
.flex-item:hover{
    color: var(--theme-color);
}

.upper{
    padding-top: 9rem;
    padding-bottom: 5rem;
    background-color: var(--theme-color2);
    width: 100vw;
    text-align: center;
    color:white;
    background: url('/img/404.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.back-home{
    color: white;
    text-decoration: none;
    background-color: var(--theme-color);
    padding: .5rem;
    border-radius: 5px;
}
.back-home:hover{
    color: white;
}
@media only screen and (max-width:450px) {
    .nav_bar_e{
        width: 30vw;
        font-size: 1rem;
    }
    .logof ion-icon{
        font-size:1.7rem;
      }
  }
