
  .active-cyan input.form-control[type=text] {
    border: none;
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
    
  }
  .active-cyan .fa, .active-cyan-2 .fa {
    color: #4dd0e1;
  }
.contanier{
    padding: 1rem;
    margin: auto;
    align-items: center;
    
}
.serach_input{
  width: 60%;
  margin-top: .9rem;
  height: 5vh;
}
.search_res{
    display:grid;
    grid-gap:1rem ;
    grid-template: auto / repeat(auto-fit, minmax(140px, 1fr));
    
}
.res_card{
    object-fit: cover;
    background-color: snow;
  }
    .temp{
  width: 100%;
  height: 40vh;
  margin: auto;
  font-size: 2rem;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
}

.btn-search{
  background-color: #06cfc5;
  border: none;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  color: white;            
  border-radius: 10px;
  display: block;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-search:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

 .temp ion-icon{
  color:white;
  margin-left:2rem ;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


         
.btn-grad-s {
  background-color: #10c3c9;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  color: rgb(255, 255, 255);            
  border-radius: 10px;
  margin-left: 2%;
  margin-bottom: 2%;

}
.btn-grad-s:hover{
  background-color: white;
}
.ff{
  margin-top: 1rem;
  
}

#b{
  border: none;
  background-color: #10c3c9;
}
         
.card-title{
  height: 4.2rem; 
}


@media only screen and (min-width: 800px) {
 
  .search_res{
    display:grid;
    grid-gap:1rem ;
    grid-template: auto / repeat(auto-fit, minmax(15vw, 1fr));
    
} 
}
@media only screen and (min-width: 750px) {
 
  .ff{
    margin-top: 1rem;
    margin-left:1rem ;
  }
}

@media only screen and (max-width:500px) {
  .ff{
    margin-top: 1rem;
    margin-left:2rem ;
  }
  .btn-grad-s {
   width: 100px;
   font-size: .7rem;
   height: 40px;
  }

}