.view_body{
    background-size: 20%;
    color:var(--theme-color2);
    width: 100vw;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    overflow-x: hidden;
}
.view_body .view_title , .view_body h3{
    font-size: 1.4rem;
}
.max-wiflex{
    padding-right: 1.5rem;
}
.view_body .color{
    color:var(--theme-color);
}


.view_body .info-contanier img{
    width: 70%;
    height: 70%;
    max-width: 250px;
    max-height: 250px;
    border-radius: 5px;
}


@media only screen and (min-width:710px) {
    .min-wi{
        display: none;
    }
    .max-wi{
        display: inline-block;
    }
}

@media only screen and (max-width:650px) {
  .max-wi{
    display: none;
  }
  .min-wi{
    display: inline-block;
  }
}

.view-flex-end{
    width: 30%;
    text-align: start;
}