.view-body{
    background-color: rgb(20, 20, 20);
}
.view_body{
    background-color:rgb(20, 20, 20);
    color:white;
    width: 100vw;
    height: 200vh;
    max-height: 1500px;
    padding: 2rem;
}
.view_title{
    font-size: 1.5em;
    color: var(--theme-color);
}
.view_body img{
    display: inline-block;
    border-radius: 3px;
    width: 50%;
    min-width: 150px;
    border: none;
}

.color{
    color: var(--theme-color);
}
.coco{
    color:var(--color) ;
    display: block;
}
.rec-body{
    background-color: rgb(20, 20, 20);
}

@media only screen and (min-width: 600px) {
 
    .view_body img{
        display: inline-block;
        border-radius: 3px;
        width: auto;
    }
    
  }
  
  @media only screen and (min-width: 838px) {
    .view_body .info{
      
    }
  
  }