<div class="main">
  <div class="about-content">
    <h3> <span class="color"> About us</span></h3>
    <p>this website is made for all people
      to learn new recipes from all over the wold
    </p>
  </div>
</div>
<div class="about-body">
  <div class="img-cont">
<img class="img1" src="img/g10.jpeg" alt="">
<img class="img2" src="img/g11.jpg" alt="">

  </div>
  <div class="words-cont">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus voluptas nulla esse error. Aspernatur sunt ipsa quis, laborum tempore eligendi molestias, nobis, facilis exercitationem dolore quaerat reprehenderit minus esse quidem?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid dolor neque dignissimos blanditiis earum modi! Ducimus architecto cumque neque quis expedita quos soluta enim eos atque, culpa ut dolorem incidunt!
    </p> 
  </div>
</div>