<div class="main">
  <div class="about-content">
    <h3> <span class="color"> About us</span></h3>
    <p>this website is made for all people
      to learn new recipes from all over the wold
    </p>
  </div>
</div>
<div class="about-body">
  <div class="img-cont ">
<img class="img1" src="img/g10.jpeg" alt="">
<img class="img2" src="img/linear.jpg" alt="">

  </div>
  <div class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Temporibus voluptas nulla esse error. Aspernatur sunt ipsa quis, laborum tempore eligendi molestias, nobis,  <br> exercitationem dolore quaerat reprehenderit minus esse quidem?
  </div>
</div>

