 <div class="footer">
    <div class="d-flex justify-content-around">
    <span class="logof"> <img id="" src="/img/mainlogo.png" alt="" class="mainlogo"> 
    </span>
    <div class="in d-flex flex-column mb-3">
      <a id="item" class="flex-item p-2" href="home">home</a>
      <a id="item" class="flex-item p-2" href="recipe">recipes</a>
      </div>
       <div class="d-flex flex-column mb-3">
        <a id="item" class="flex-item p-2" href="about">about</a>
        <a id="item" class="flex-item p-2" href="contact">contact</a>
      </div>
    </div>
    <div class="icons d-flex justify-content-around">
        <ion-icon name="logo-google"></ion-icon>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-github"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
    </div>
</div>