<nav class="navbar">
      <div id="nav_list" class="d-flex justify-content-evenly">
      <span id="logo" class="navbar-brand mb-0 h1"><ion-icon name="receipt-outline"></ion-icon>
      </span> 
      <a href="/home" >Home</a> 
       <a href="/recipe">Recipes</a> 
       <a href="/about">About</a> 
       <a href="/contact">Contact</a> 
    </div>
  </nav>