<div class="home_head_search flex-column">
  <div class="card text-center home_search_head_text">
      <div class="card-body">
        <a class="home_search_text-title">Special title treatment</a>
        <p class="card-text"> Over 2 million recipes from over the wrold <br>
          and you can find  all kind of food and drinks</p>
      </div>
    </div>
    <div class="input-group search_input_home_header justify-content-evenly">
      <a href="/recipe" class="home-head-search-bar-js">Search a recipe</a>
    </div>
</div>

<br><br>
<p class="card-text-second ">With supporting text below as a natural lead-in to additional content.</p>


<div id="carouselExampleDark" class="carousel  slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <div class="coverss"></div>

      <img src="/img/g17.jpeg" class="d-block w-100" alt="...">
      
      <div class="carousel-caption d-none d-md-block">
        <h5 >First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <div class="coverss"></div>
      <img src="/img/g15.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block new-2">
        <h5></h5>
        <p></p>
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <div class="coverss"></div>
      <img src="/img/g16.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block new-2">
        <h5></h5>
        <p></p>
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>




<div class="home_second flex-column ">
  <br><br>
  <label class="Recommendedrecipes :">Recommended recipes </label>

<div class="home-sec-container d-flex flex-wrap justify-content-evenly">
<div class="home-card" >
  <img src="img/g11.jpeg" class="card-img-top" alt="...">
  <div class="home-card-body">
    <div class="home-card-text-d">
      <div class="home-card-title dumb">Cinnamon Baked French Toast </div>
      <a href="/recipe/Cinnamon Baked French Toast" class="   float-end homebut" id="">View recipe</a>
    </div>
  </div>
</div>
<div class="home-card" >
  <img src="img/g12.jpeg" class="card-img-top" alt="...">
  <div class="home-card-body">
    <div class="home-card-text-d">
      <div class="home-card-title dumb">Chocolate Lava Cakes </div>
      <a href="/recipe/Chocolate Lava Cakes" class=" float-end homebut" id="">View recipe</a>
    </div>
  </div>
</div> <div class="home-card" >
  <img src="img/14.jpeg" class="card-img-top" alt="...">
  <div class="home-card-body">
    <div class="home-card-text-d ">
      <div class="home-card-title dumb">Linguine with Shrimp </div>
      <a href="/recipe/Linguine with Shrimp and Lemon Oil" class="  float-end homebut" id="">View recipe</a>
    </div>
  </div>
</div>
</div>


<h3 class="home-sec-desc">
  Over 2 million recipes from over the wrold <br>
  and its containe all kind of food and drinks
  
</h3>


</div>









<!-- Button trigger modal -->

