<div class="home_head_search flex-column">
    <div class="card text-center home_search_head_text">
        <div class="card-body">
          <a class="home_search_text-title">Special title treatment</a>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="input-group search_input_home_header justify-content-evenly">
        <input type="search" class=" rounded search_inner_form_home" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="rounded search_home_head_button"><ion-icon name="search-outline"></ion-icon></button>
      </div>
</div>

<div class="home_second flex-column ">
<p class="card-text-second ">With supporting text below as a natural lead-in to additional content.</p>
<div class="home-sec-container d-flex flex-wrap justify-content-evenly">
  <div class="home-card" >
    <img src="img/g1.jpg" class="card-img-top" alt="...">
    <div class="home-card-body">
      <div class="home-card-text-d">
        <h5>card title</h5>
        <p class="home-card-p">some text to descripe the recipe</p>
        <h6>10.00 $</h6>
      </div>
    </div>
  </div>
  <div class="home-card" >
    <img src="img/g1.jpg" class="card-img-top" alt="...">
    <div class="home-card-body">
      <div class="home-card-text-d">
        <h5>card title</h5>
        <p class="home-card-p">some text to descripe the recipe</p>
        <h6>10.00 $</h6>
      </div>
    </div>
  </div> <div class="home-card" >
    <img src="img/g1.jpg" class="card-img-top" alt="...">
    <div class="home-card-body">
      <div class="home-card-text-d">
        <h5>card title</h5>
        <p class="home-card-p">some text to descripe the recipe</p>
        <h6>10.00 $</h6>
      </div>
    </div>
  </div>
</div>
</div>
