<div class="none"></div>
 <div class="contanier">
<div class="search-form">
        <form id="search_form" class="recipe-search d-flex ">
         <input type="text" class="search-recipe-input" placeholder="food">
         <button type="submit" class="rounded search_home_head_button"><ion-icon name="search-outline"></ion-icon></button>
        </form>
    </div>
 </div>
<span class="please_wait"></span>
<div class="search_res">
 
</div>
</div>
<h3 class="space"></h3>