<div class="rec-body">
<div class="none"></div>
<label class="menu-label" for=""> <span class="color"> Breakfast: </span> </label>
<div class="d-flex justify-content-evenly menu" id="breakfast">
   
</div>
<label class="menu-label" for=""> <span class="color"> Dinner: </span> </label>
<div class="d-flex justify-content-evenly menu" id="dinner">
   
</div>

 <div class="contanier">
<div class="search-form">
        <form id="search_form" class="recipe-search d-flex ">
         <input type="text" class="search-recipe-input" placeholder="food">
         <button type="submit" class="rounded search_home_head_button"><ion-icon name="search-outline"></ion-icon></button>
        </form>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="type ">alcohol-free</button>
        <button type="button" class="type ">celery-free</button>
        <button type="button" class="type ">egg-free</button>
        <button type="button" class="type ">fish-free</button>
        <button type="button" class="type ">red-meat-free</button>
        
   
        


    </div>
 </div>
<span class="please_wait"></span>
<div class="search_res">
 
</div>
</div>

</div>