<div class="rec-body">
<div class="none"></div>
<div class="d-flex justify-content-evenly menu">
    <div class="card menu-card" >
        <img src="${e.recipe.image}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">${e.recipe.label}</h5>
          <a href="/recipe/${e.recipe.label}" class="btn btn-primary" id="b">View recipe</a>
        </div>
        </div>
       
        <div class="card menu-card" >
            <img src="/img/g1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">${e.recipe.label}</h5>
              <a href="/recipe/${e.recipe.label}" class="btn btn-primary" id="b">View recipe</a>
            </div>
            </div>

            <div class="card menu-card" >
                <img src="${e.recipe.image}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">${e.recipe.label}</h5>
                  <a href="/recipe/${e.recipe.label}" class="btn btn-primary" id="b">View recipe</a>
                </div>
                </div>

                <div class="card menu-card" >
                    <img src="${e.recipe.image}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">${e.recipe.label}</h5>
                      <a href="/recipe/${e.recipe.label}" class="btn btn-primary" id="b">View recipe</a>
                    </div>
                    </div>
</div>
<div class="d-flex justify-content-evenly menu">
    <div class="card menu-card" >
        <img src="${e.recipe.image}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">${e.recipe.label}</h5>
          <a href="/recipe/${e.recipe.label}" class="btn btn-primary" id="b">View recipe</a>
        </div>
        </div>
       
        <div class="card menu-card" >
            <img src="/img/g1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">${e.recipe.label}</h5>
              <a href="/recipe/${e.recipe.label}" class="btn btn-primary" id="b">View recipe</a>
            </div>
            </div>

            <div class="card menu-card" >
                <img src="${e.recipe.image}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">${e.recipe.label}</h5>
                  <a href="/recipe/${e.recipe.label}" class="btn btn-primary" id="b">View recipe</a>
                </div>
                </div>

                <div class="card menu-card" >
                    <img src="${e.recipe.image}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">${e.recipe.label}</h5>
                      <a href="/recipe/${e.recipe.label}" class="btn btn-primary" id="b">View recipe</a>
                    </div>
                    </div>
</div>

 <div class="contanier">
<div class="search-form">
        <form id="search_form" class="recipe-search d-flex ">
         <input type="text" class="search-recipe-input" placeholder="food">
         <button type="submit" class="rounded search_home_head_button"><ion-icon name="search-outline"></ion-icon></button>
        </form>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="type ">alcohol-free</button>
        <button type="button" class="type ">celery-free</button>
        <button type="button" class="type ">egg-free</button>
        <button type="button" class="type ">fish-free</button>
        <button type="button" class="type ">red-meat-free</button>
        
    </div>
 </div>
<span class="please_wait"></span>
<div class="search_res">
 
</div>
</div>

</div>