<div class="rec-body">
<div class="none"></div>

<!--
<label class="menu-label" for=""> <span class="color"> Breakfast: </span> </label>

<div class="d-flex justify-content-evenly menu" id="breakfast">
   
</div>
<label class="menu-label" for=""> <span class="color"> Dinner: </span> </label>
<div class="d-flex justify-content-evenly menu" id="dinner">
   
</div>
-->




 <div class="contanier">
 
<div class="search-form">
        <form id="search_form2" class="recipe-search2 d-flex ">
         <input type="text" class="search-recipe-input" placeholder="search a food or recipe">
         <button type="submit" class="rounded search_home_head_button"><ion-icon name="search-outline"></ion-icon></button>
        </form>
     </div>
   
     <div class="header-rec">
        <div class="dropdown" data-dropdown>
          <button class="link whitelink" data-dropdown-button>Filter</button>
          <div class="dropdown-menu information-grid">
            <div>
                <div class="dropdown-heading whitelink">dishType</div>
                <div class="dropdown-links">
                  <a  class="link dish">drinks</a>
                  <a  class="link dish">salad</a>
                  <a  class="link dish">Preps</a>
                  <a  class="link dish">soup</a>
                  <a  class="link dish">sandwiches</a>
                  <a  class="link dish">starter</a>
                  <a  class="link dish">side</a>
                  <a  class="link dish">sweets</a>	
                </div>
              </div> 
            <div>
              <div class="dropdown-heading whitelink">Health</div>
              <div class="dropdown-links">
                <a  class="link Health">alcohol-free</a>
                <a  class="link Health">celery-free</a>
                <a  class="link Health">egg-free</a>
                <a  class="link Health">fish-free</a>
                <a  class="link Health">low-potassium</a>
                <a  class="link Health">low-sugar</a>
                <a  class="link Health">red-meat-free</a>
                <a  class="link Health">vegan</a>	
              </div>
            </div>
           <div>
                <div class="dropdown-heading whitelink">mealType</div>
                <div class="dropdown-links">
                  <a  class="link mealType">breakfast</a>
                  <a  class="link mealType">brunch</a>
                  <a  class="link mealType">lunch-dinner</a>
                  <a  class="link mealType">snack</a>
                  <a  class="link mealType">teatime</a>	
                </div>
              </div>
              <div>
                <div class="dropdown-heading whitelink">Diet</div>
                <div class="dropdown-links">
                  <a  class="link Diet">balanced</a>
                  <a  class="link Diet">high-fiber</a>
                  <a  class="link Diet">high-protein</a>
                  <a  class="link Diet">low-carb</a>
                  <a  class="link Diet">low-fat</a>
                  <a  class="link Diet">low-sodium</a>
                  
                </div>
              </div>
          </div>
        </div>
      </div>
     <label class="calorie-num2">calories: <input type="number" class="calorie-num" min="0"></label>
      <div class="flitersnum">
      </div>
  


<!--
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="type ">alcohol-free</button>
        <button type="button" class="type ">celery-free</button>
        <button type="button" class="type ">egg-free</button>
        <button type="button" class="type ">fish-free</button>
        <button type="button" class="type ">red-meat-free</button>
    </div>

-->
 </div>

 <span class="please_wait"></span>
<div class="search_res">
</div>
 <div class="next d-flex justify-content-between">
  <button class="prev-but">prev page</button>
  <label class="page-num" for="">1</label>
  <button class="next-but">next page</button>
</div>
<div class="search-for-rec">

</div>




<div class="recipe-down">

<label class="flex-card-label">Smoothie Recipes:</label>
<div class="flex-card-cont">

 <div class="recipe-flex-cards d-flex flex-wrap justify-content-evenly">

  <div class="card res_card flex-card" >
    <img src="/img/g22.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ultra-Creamy Avocado Smoothie
      </h5>
      <a href="/recipe/Ultra-Creamy Avocado Smoothie" class="btn btn-primary" id="b">View recipe</a>
    </div>
    </div>

    <div class="card res_card flex-card" >
      <img src="/img/g23.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Chocolate-Peanut Butter Swirl Smoothie

        </h5>
        <a href="/recipe/Chocolate-Peanut Butter Swirl Smoothie
        " class="btn btn-primary" id="b">View recipe</a>
      </div>
      </div>

      <div class="card res_card flex-card" >
        <img src="/img/g25.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Passion Fruit-Mango Smoothie
          </h5>
          <a href="/recipe/Passion Fruit-Mango Smoothie
          " class="btn btn-primary" id="b">View recipe</a>
        </div>
        </div>

        <div class="card res_card flex-card" >
          <img src="/img/g24.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Blueberry-Almond Smoothie
            </h5>
            <a href="/recipe/Blueberry-Almond Smoothie
            " class="btn btn-primary" id="b">View recipe</a>
          </div>
          </div>
          
 </div>

</div>


<br><br>

 
<label class="flex-card-label">Healthy Recipes:</label>
<div class="flex-card-cont">

 <div class="recipe-flex-cards d-flex flex-wrap justify-content-evenly">

  <div class="card res_card flex-card" >
    <img src="/img/g18.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Oven-Baked Salmon</h5>
      <a href="/recipe/Oven-Baked Salmon" class="btn btn-primary" id="b">View recipe</a>
    </div>
    </div>

    <div class="card res_card flex-card" >
      <img src="/img/g19.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Chili Chicken with Hominy Hash
        </h5>
        <a href="/recipe/Chili Chicken with Hominy Hash" class="btn btn-primary" id="b">View recipe</a>
      </div>
      </div>

      <div class="card res_card flex-card" >
        <img src="/img/g20.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Chicken Katsu with Ginger Rice
          </h5>
          <a href="/recipe/Chicken Katsu with Ginger Rice" class="btn btn-primary" id="b">View recipe</a>
        </div>
        </div>

        <div class="card res_card flex-card" >
          <img src="/img/g21.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lemon-Garlic Shrimp and Grits
            </h5>
            <a href="/recipe/Lemon-Garlic Shrimp and Grits
            " class="btn btn-primary" id="b">View recipe</a>
          </div>
          </div>
          
 </div>

</div>





<br><br>

<label class="flex-card-label">Middle Eastern Recipes:</label>
<div class="flex-card-cont">

 <div class="recipe-flex-cards d-flex flex-wrap justify-content-evenly">

  <div class="card res_card flex-card" >
    <img src="/img/g27.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Grilled Baba Ganoush
      </h5>
      <a href="/recipe/Grilled Baba Ganoush
      " class="btn btn-primary" id="b">View recipe</a>
    </div>
    </div>

    <div class="card res_card flex-card" >
      <img src="/img/g28.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Qatayef</h5>
        <a href="/recipe/Qatayef" class="btn btn-primary" id="b">View recipe</a>
      </div>
      </div>

      <div class="card res_card flex-card" >
        <img src="/img/g29.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fattoush</h5>
          <a href="/recipe/Fattoush" class="btn btn-primary" id="b">View recipe</a>
        </div>
        </div>

        <div class="card res_card flex-card" >
          <img src="/img/g30.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Falafel</h5>
            <a href="/recipe/Falafel" class="btn btn-primary" id="b">View recipe</a>
          </div>
          </div>
          
 </div>

</div>




<br><br>

<label class="flex-card-label">Vegetarian Recipes:</label>
<div class="flex-card-cont">

 <div class="recipe-flex-cards d-flex flex-wrap justify-content-evenly">

  <div class="card res_card flex-card" >
    <img src="/img/g31.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Buckwheat Noodle Salad
      </h5>
      <a href="/recipe/Buckwheat Noodle Salad" class="btn btn-primary" id="b">View recipe</a>
    </div>
    </div>

    <div class="card res_card flex-card" >
      <img src="/img/g32.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vegetarian Enchiladas
        </h5>
        <a href="/recipe/Vegetarian Enchiladas
        " class="btn btn-primary" id="b">View recipe</a>
      </div>
      </div>

      <div class="card res_card flex-card" >
        <img src="/img/g33.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vegan Chickpea Crab Cakes
          </h5>
          <a href="/recipe/Vegan Chickpea Crab Cakes
          " class="btn btn-primary" id="b">View recipe</a>
        </div>
        </div>

        <div class="card res_card flex-card" >
          <img src="/img/g34.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tofu-Vegetable Stir-Fry
            </h5>
            <a href="/recipe/Tofu-Vegetable Stir-Fry
            " class="btn btn-primary" id="b">View recipe</a>
          </div>
          </div>
          
 </div>

</div>







</div>
</div>
<script src="https://developer.edamam.com/attribution/badge.js"></script>




