<form id="search_form" class="form-inline d-flex justify-content-center md-form form-sm active-cyan active-cyan-2 mt-2">
    <i class="fas fa-search" aria-hidden="false"></i>
    <input class="form-control form-control-sm ml-3 serach_input" type="text" placeholder="Search"
      aria-label="Search">
      <button type="submit" class="btn-grad btn-search">serach</button> 
</form>
<div class="ff d-flex align-content-around flex-wrap">
  <button type="button" class="btn btn-grad btn-grad-s" id="h_b">Healthy</button> 
  <button type="button" class="btn btn-grad btn-grad-s" id="h_b">low calories</button> 
  <button type="button" class="btn btn-grad btn-grad-s" id="h_b">alcohol-free</button> 
  <button type="button" class="btn btn-grad btn-grad-s" id="h_b">low-fat</button> 
  <button type="button" class="btn btn-grad btn-grad-s" id="h_b">low-sugar</button> 
  <button type="button" class="btn btn-grad btn-grad-s" id="h_b">red-meat-free</button> 
  <button type="button" class="btn btn-grad btn-grad-s" id="h_b">Celery-free</button> 
  <button type="button" class="btn btn-grad btn-grad-s" id="h_b">keto-friendly</button> 
  <button type="button" class="btn btn-grad btn-grad-s" id="h_b">low-potassium</button> 
</div>
 <div class="contanier">
<span class="please_wait"></span>
<div class="search_res">
 
</div>
</div>
<h3 class="space"></h3>