<div class="rec-body">
<div class="none"></div>

<!--
<label class="menu-label" for=""> <span class="color"> Breakfast: </span> </label>

<div class="d-flex justify-content-evenly menu" id="breakfast">
   
</div>
<label class="menu-label" for=""> <span class="color"> Dinner: </span> </label>
<div class="d-flex justify-content-evenly menu" id="dinner">
   
</div>
-->


 <div class="contanier">
    
<div class="search-form">
        <form id="search_form2" class="recipe-search2 d-flex ">
         <input type="text" class="search-recipe-input" placeholder="search a food or recipe">
         <button type="submit" class="rounded search_home_head_button"><ion-icon name="search-outline"></ion-icon></button>
        </form>
     </div>
   
     <div class="header-rec">
        <div class="dropdown" data-dropdown>
          <button class="link whitelink" data-dropdown-button>Filter</button>
          <div class="dropdown-menu information-grid">
            <div>
                <div class="dropdown-heading whitelink">dishType</div>
                <div class="dropdown-links">
                  <a  class="link dish">drinks</a>
                  <a  class="link dish">pancake</a>
                  <a  class="link dish">pasta</a>
                  <a  class="link dish">pizza</a>
                  <a  class="link dish">sandwiches</a>
                  <a  class="link dish">low-sugar</a>
                  <a  class="link dish">side-dish</a>
                  <a  class="link dish">sweets</a>	
                </div>
              </div> 
            <div>
              <div class="dropdown-heading whitelink">Health</div>
              <div class="dropdown-links">
                <a  class="link Health">alcohol-free</a>
                <a  class="link Health">celery-free</a>
                <a  class="link Health">egg-free</a>
                <a  class="link Health">fish-free</a>
                <a  class="link Health">low-potassium</a>
                <a  class="link Health">low-sugar</a>
                <a  class="link Health">red-meat-free</a>
                <a  class="link Health">vegan</a>	
              </div>
            </div>
           <div>
                <div class="dropdown-heading whitelink">mealType</div>
                <div class="dropdown-links">
                  <a  class="link mealType">breakfast</a>
                  <a  class="link mealType">brunch</a>
                  <a  class="link mealType">lunch-dinner</a>
                  <a  class="link mealType">snack</a>
                  <a  class="link mealType">teatime</a>	
                </div>
              </div>
              <div>
                <div class="dropdown-heading whitelink">Diet</div>
                <div class="dropdown-links">
                  <a  class="link Diet">balanced</a>
                  <a  class="link Diet">high-fiber</a>
                  <a  class="link Diet">high-protein</a>
                  <a  class="link Diet">low-carb</a>
                  <a  class="link Diet">low-fat</a>
                  <a  class="link Diet">low-sodium</a>
                  
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="flitersnum">
      </div>
  


<!--
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="type ">alcohol-free</button>
        <button type="button" class="type ">celery-free</button>
        <button type="button" class="type ">egg-free</button>
        <button type="button" class="type ">fish-free</button>
        <button type="button" class="type ">red-meat-free</button>
    </div>

-->
 </div>

 <span class="please_wait"></span>
<div class="search_res">
</div>
 <div class="next d-flex justify-content-between">
  <button class="prev-but">prev page</button>
  <label class="page-num" for="">1</label>
  <button class="next-but">next page</button>
</div>
<div class="search-for-rec">
  Search for a recipe !
</div>
</div>
<script src="https://developer.edamam.com/attribution/badge.js"></script>





