<div class="view_body">
<div class="none"></div>
    <span class="please_wait2"></span>
<h3 class='view_title color'><%= locals.title %></h3>
<div class="temp">Please Wait<ion-icon name="restaurant-outline"></ion-icon></div>
<script src="js/view.js"></script>

</div>
